@charset "utf-8";
/* CSS Document */
	*{margin:0;padding: 0;}
      body{background: #eee; }
      .login{width:15%; padding:20px; margin:10% auto auto auto; border-radius:10px; background:#FFF; box-shadow:0 0 15px #330;opacity:0.5;}
